@media (max-width: 550px) {
  html {
    font-size: 13px;
  }

  .header {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .intro__text-container {
    width: 100%;
  }

  .intro__img {
    display: none;
  }

  .menu {
    display: none;

    animation: appear 0.2s ease-out forwards;
  }

  @keyframes appear {
    0% {
      margin-bottom: 0;

      opacity: 0;
    }
    100% {
      margin-bottom: 123px;

      opacity: 1;
    }
  }

  .menu__list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    flex-direction: column;

    padding: 20px 0;

    text-align: center;

    background-color: #FFFFFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .section {
    padding: 0 20px;
  }

  .menu_visible {
    display: flex;

    width: 50%;
    height: max-content;
    margin-bottom: 123px;
  }

  .menu__link {
    font-size: 1.5rem;

    margin-bottom: 10px;
  }

  .menu__button {
    position: absolute;
    top: 10px;
    right: 10px;

    display: block;
  }

  .portfolio__header {
    align-items: start;
    flex-direction: column;

    gap: 14px;
  }

  .footer__info {
    flex-direction: column;
  }

  .footer__text {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__mail {
    margin-bottom: 15px;
  }

  .background-faces {
    display: none;
  }

  .slider__slide {
    padding: 25px 0 40px;
  }
}
