@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  font-family: "Red Hat Display",sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;

  background-color: #FFFFFF;
}

.section {
  width: 100%;
  padding: 0 10%;
}

.section__heading {
  font-size: 36px;
  font-weight: 700;

  color: #25202F;
}

.section_background {
  background: rgb(255,177,222);
  background: linear-gradient(0deg, rgba(255,177,222,0) 0%, rgba(202,143,248,0.14) 15%, rgba(190,135,254,0.14) 85%, rgba(255,177,222,0) 100%);
}

/* HEADER */

.header {
  display: flex;
  align-items: center;

  margin-top: 64px;
  margin-bottom: 123px;

  gap: 125px;
}

.menu {
  width: 350px;
}

.menu__list {
  display: flex;
  justify-content: space-between;

  padding-left: 0;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;

  text-decoration: none;

  color: #7E7F86;
}

.menu__link_active,
.menu__link:hover {
  color: #25202F;
}

/* INTRO */

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 100px;
}

.intro__text-container {
  width: 45%;
}

.intro__hello {
  font-size: 24px;
  font-weight: 500;

  margin-bottom: 10px;

  color: #666666;
}

.intro__title {
  font-size: 60px;
  font-weight: 700;

  margin-bottom: 20px;

  color: #25202F;
}

.intro__description {
  font-size: 21px;

  margin-bottom: 54px;
}

.button {
  font-size: 24px;

  width: 200px;
  height: 60px;

  cursor: pointer;
  transition: ease 0.2s;

  color: #FFFFFF;
  border: 3px solid #8643DC;
  border-radius: 30px;
  background-color: #8643DC;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button:hover {
  color: #8643DC;
  border-radius: 30px;
  background-color: #FFFFFF;

  filter: none;
}

.button:active {
  color: #FFFFFF;
  border-radius: 30px;
  background-color: #8643DC;
}

.intro__img {
  width: 55%;
}

.intro__img img {
  width: 100%;
}

/* SERVICES */

.services {
  margin-bottom: 150px;
}

.services__heading {
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 30px;
}

.service {
  width: max(320px, calc(33.33% - 20px));
}

.logo-headline {
  display: flex;
  align-items: center;

  margin-bottom: 22px;
}

.service__logo {
  margin-right: 20px;
}

.service__headline {
  font-size: 24px;
  font-weight: 500;

  color: #25202F;
}

.service__text {
  line-height: 32px;

  color: #47444E;
}

/* SERVICES */

.portfolio {
  margin-bottom: 100px;
}

.portfolio__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio__link {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.portfolio__text {
  font-size: 24px;
  font-weight: 500;

  margin-right: 10px;

  color: #25202F;

  text-underline-position: under;
  text-decoration-line: underline;
}

.portfolio__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__image {
  width: max(50%, 300px);
}

/* CLIENTS */

.clients {
  margin-bottom: 100px;
}

.clients__heading {
  margin-bottom: 44px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  gap: 50px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 170px;
  height: 170px;

  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: var(--background-color);
  box-shadow: 0 20px 25px 0 rgba(var(--box-shadow-color), 0.5);

  gap: 30px;
}

.client_slack {
  --border-color: #FFE7F0;
  --background-color: #FFF7FA;

  --box-shadow-color: 255, 215, 233;
}

.client_medium {
  --border-color: #CAFFE1;
  --background-color: #EDFFF5;

  --box-shadow-color: 202, 255, 225;
}

.client_microsoft {
  --border-color: #DDF5FF;
  --background-color: #F5FCFF;

  --box-shadow-color: 221, 245, 255;
}

.client_zeplin {
  --border-color: #FFEEC9;
  --background-color: #FFFBF2;

  --box-shadow-color: 255, 238, 201;
}

.client_shopify {
  --border-color: #DBFFC4;
  --background-color: #F4FFED;

  --box-shadow-color: 219, 255, 195;
}

.client__name {
  font-size: 18px;
  font-weight: 500;

  color: #000000;
}

/* FOOTER */

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 500;

  width: 50%;
  margin-top: 10px;
  margin-bottom: 50px;

  color: #21232D;
}

.footer__mail {
  font-family: "Roboto";
  font-size: 24px;

  color: #8643DC;

  text-decoration-line: underline;
}

.footer__mail:hover,
.footer__mail:focus,
.footer__mail:visited {
  color: #8643DC;
}


.footer__form {
  margin-bottom: 100px;
}

.footer__input {
  font-size: 20px;

  width: 100%;
  height: 44px;
  margin-bottom: 45px;

  color: #21232D;
  border: 0;
  border-bottom: 1px solid #DAD2E3;
  background: rgba(0, 0, 0, 0);
}

.footer__input::placeholder {
  color: #A8A0B0;
}

.footer__input:focus {
  outline: none;
}

.footer__end {
  display: flex;
  justify-content: center;
}

/* OTHERS */

.section-title {
  font-size: 18px;

  position: relative;

  margin-bottom: 15px;

  color: #8643DC;
}

.section-title::after {
  position: absolute;
  bottom: -10px;
  left: 0;

  width: 50px;
  height: 2px;

  content: "";

  border: 0;
  background-color: #8643DC;
}
