@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap");

:root {
  font-family: "Red Hat Display", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.page {
  width: 80vw;
  margin: 50px auto;
}

.header {
  display: flex;
  align-items: center;

  margin-bottom: 125px;
}

.header__logo {
  margin-right: 100px;
}

.navbar__list {
  display: flex;
  justify-content: space-between;

  width: 350px;

  list-style: none;
}

.navbar__link {
  font-size: 20px;
  font-weight: 500;

  transition: 0.2s;
  text-decoration: none;

  color: #7E7F86;
}

.navbar__link_active,
.navbar__link:hover {
  color: #25202F;
}

.welcome {
  margin-bottom: 270px;
}

.welcome__heading {
  margin-bottom: 20px;
}

.heading-h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;

  color: #25202F;
}

.text {
  font-size: 21px;
}

.welcome__text {
  margin-bottom: 54px;
}

.text__hello {
  font-size: 24px;

  color: #666666;
}

.welcome__button {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;

  width: 200px;
  height: 60px;

  text-align: center;

  color: #FFFFFF;
  border: 0;
  border-radius: 30px;
  background-color: #8643DC;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-heading {
  font-size: 18px;

  color: #8643DC;
}

.section-heading-underline {
  width: 50px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 15px;

  border: 0;
  background-color: #8643DC;
}

.services {
  margin-bottom: 150px;
}

.services__heading {
  margin-bottom: 50px;
}

.article__headline {
  display: flex;
  align-items: center;

  margin-bottom: 22px;
}

.article__icon {
  margin-right: 20px;
}

.heading-h2 {
  font-size: 36px;
}

.heading-h3 {
  font-size: 24px;
  font-weight: 500;
}

.rename-this-class {
  display: flex;

  gap: 30px;
}

.article__text {
  line-height: 32px;

  color: #47444E;
}

.portfolio {
  background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);

  backdrop-filter: blur(150px);
}

.portfolio__header {
  display: flex;
  justify-content: space-between;
}

.portfolio__link {
  font-size: 24px;
  font-weight: 500;

  color: #25202F;

  text-underline-position: under;
  text-decoration-line: underline;
}

.portfolio__wrapper {
  display: flex;
}

.portfolio__example {
  width: 100%;
}
