@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  font-family: "Red Hat Display",sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.section {
  width: 80vw;
  margin: 0 auto;
}

.section__heading {
  font-size: 36px;
  font-weight: 700;

  color: #25202F;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;

  margin-top: 64px;
  margin-bottom: 123px;

  gap: 125px;
}

.menu {
  width: 350px;
}

.menu__list {
  display: flex;
  justify-content: space-between;

  padding-left: 0;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;

  text-decoration: none;

  color: #7E7F86;
}

.menu__link_active,
.menu__link:hover {
  color: #25202F;
}

/* INTRO */

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 100px;
}

.intro__text-container {
  width: 45%;
}

.intro__hello {
  font-size: 24px;
  font-weight: 500;

  margin-bottom: 10px;

  color: #666666;
}

.intro__title {
  font-size: 60px;
  font-weight: 700;

  margin-bottom: 20px;

  color: #25202F;
}

.intro__description {
  font-size: 21px;

  margin-bottom: 54px;
}

.intro__button {
  font-size: 24px;

  width: 200px;
  height: 60px;

  cursor: pointer;
  transition: ease 0.2s;

  color: #FFFFFF;
  border: 3px solid #8643DC;
  border-radius: 30px;
  background-color: #8643DC;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.intro__button:hover {
  color: #8643DC;
  border-radius: 30px;
  background-color: #FFFFFF;

  filter: none;
}

.intro__button:active {
  color: #FFFFFF;
  border-radius: 30px;
  background-color: #8643DC;
}

.intro__img {
  width: 55%;
}

.intro__img img {
  width: 100%;
}

/* SERVICES */

.services {
  margin-bottom: 150px;
}

.services__heading {
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 30px;
}

.service {
  width: max(calc(33.33% - 20px), 350px);
}

.logo-headline {
  display: flex;
  align-items: center;

  margin-bottom: 22px;
}

.service__logo {
  margin-right: 20px;
}

.service__headline {
  font-size: 24px;
  font-weight: 500;

  color: #25202F;
}

.service__text {
  line-height: 32px;

  color: #47444E;
}

.portfolio {
  margin-bottom: 100px;
}

.portfolio__header {
  display: flex;
  justify-content: space-between;
}

.portfolio__link {
  font-size: 24px;
  font-weight: 500;

  color: #25202F;

  text-underline-position: under;
  text-decoration-line: underline;
}

.portfolio__wrapper {
  display: flex;
}

.portfolio__example {
  width: 100%;
}

.clients {
  margin-bottom: 100px;
}

.clients__heading {
  margin-bottom: 44px;
}

.clients__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100%;
}

.clients__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  width: 170px;
  height: 170px;
}

.clients__brand-name {
  font-size: 18px;
  font-weight: 500;

  color: #000000;
}

.footer__description {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 500;

  width: 50vw;
  margin-bottom: 50px;

  color: #21232D;
}

.form {
  margin-bottom: 100px;
}

.input-field {
  font-size: 20px;

  width: 100%;
  height: 44px;
  margin-bottom: 45px;

  color: #A8A0B0;
  border: 0;
  border-bottom: 1px solid #DAD2E3;
}

.submit-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;

  width: 200px;
  height: 60px;

  text-align: center;

  color: #FFFFFF;
  border: 0;
  border-radius: 30px;
  background-color: #8643DC;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* OTHERS */

.section-title {
  font-size: 18px;

  position: relative;

  margin-bottom: 15px;

  color: #8643DC;
}

.section-title::after {
  position: absolute;
  bottom: -10px;
  left: 0;

  width: 50px;
  height: 2px;

  content: "";

  border: 0;
  background-color: #8643DC;
}

